



<div class="">
    <h3>Add a new Post</h3>

    <form action="/admin/add-post" method="POST">
        <label for="title"> <b>Title</b></label>
        <input type="text" name="title">

        <label for="body"><b>Body</b></label>
        <textarea name="body" id="" rows="10" cols="20" style="resize: none;"></textarea>

        <!-- <label for="description">Description</label> -->

        <input type="submit" value="Add Post" class="btn">

        
    </form>
</div>