<p> <span style="font-size: 25px; font-weight: 600;"><%= name %>'s</span> Dashboard </p>

<div class="admin-title">
    <h2>Posts</h2>
    <a href="/add-post" class="btn"> <b>&#43</b> Add New</a>
</div>

<ul class="admin-posts">

    <% data.forEach(post => { %>
        <li>
            <a href="/admin/post/<%= post._id %> "> <%= post.title %> </a>
            
            <div class="admin-post-controls">
                <a href="#" class="btn">Edit</a>
                <form action="#" >
                    <input type="submit" class="btn" value="Delete" class="btn">
                </form>
            </div>
        </li>
    <% }) %>

</ul>