

<div class="">
    <h3>Register</h3>

    <form action="/register" method="POST">
        <label for="name"> <b> Name </b></label>
        <input type="text" name="name">

        <label for="username"> <b>Username</b></label>
        <input type="text" name="username">

        <label for="email"><b>Email</b></label>
        <input type="text" name="email">

        <label for="password"><b>Password</b></label>
        <input type="password" name="password">

        <input type="submit" value="Submit" class="btn">
    </form>
</div>