

<div class="searchBar">
    <div class="container">
        <form action="/search" method="POST" class="search__form" role="search">

            <input 
            type="search" 
            aria-level="search"
            placeholder="Search here"
            id="searchInput"
            name="searchTerm"
            >
                
        </form>

        <div id="searchClose">Close</div>

    </div>
</div>