<div class="author">
    <h1 class="author__heading">Hi, I am Reddy.</h1>
    <h3 class="author__body">Web development & Content Creator</h3>
    <img src="/Img/hero-image.webp" alt="">
</div>


<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li><a href="#">
            <span>Title</span>
            <span class="article-list__date">Date</span>
        </a></li>

        <li><a href="#">
            <span>Title</span>
            <span class="article-list__date">Date</span>
        </a></li>
    </ul>

    <a href="#" class="pagination">&lt; View older posts</a>

</section>