<div class="author">
    <h1 class="author__heading">Hi, I am Reddy.</h1>
    <h3 class="author__body">Web development & Content Creator</h3>
    <img src="/Img/hero-image.webp" alt="">
</div>


<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        
        <% data.forEach(element => { %>
            <li><a href="#">
                <span> <%= element.title %> </span>
                <span class="article-list__date"> <%= element.createdAt.toDateString() %> </span>
            </a></li>
        <% }) %>


    </ul>

    <a href="#" class="pagination">&lt; View older posts</a>

</section>